{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block additional_css %}
<!-- Stylesheets -->
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap5.min.css') }}">
{% endblock additional_css %}

<!--main content start-->
{% block content %}

{% block header %}
{% endblock header %}

<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
                <div class="flex-grow-1">
                    <h1 class="h3 fw-bold mb-2">Overview</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Quick Overview -->
          <div class="row">
            <div class="col-6 col-lg-3">
              <a class="block block-rounded block-link-shadow text-center" href="#">
                <div class="block-content block-content-full">
                  <div class="fs-2 fw-semibold ">1132738</div>
                </div>
                <div class="block-content py-2 bg-body-light">
                  <p class="fw-medium fs-sm text-muted mb-0">
                    Total Packets
                  </p>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                  <div class="fs-2 fw-semibold text-dark">109</div>
                </div>
                <div class="block-content py-2 bg-body-light">
                  <p class="fw-medium fs-sm text-muted mb-0">
                    Total No. of Unique IPs
                  </p>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                  <div class="fs-2 fw-semibold text-dark">$8920</div>
                </div>
                <div class="block-content py-2 bg-body-light">
                  <p class="fw-medium fs-sm text-muted mb-0">
                    ??
                  </p>
                </div>
              </a>
            </div>
              <div class="col-6 col-lg-3">
              <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                  <div class="fs-2 fw-semibold text-danger">True</div>
                </div>
                <div class="block-content py-2 bg-body-light">
                  <p class="fw-medium fs-sm text-muted mb-0">
                    Potential attack
                  </p>
                </div>
              </a>
            </div>
          </div>
          <!-- END Quick Overview -->

        <!-- Chart.js Charts are initialized in js/pages/be_comp_charts.min.js which was auto compiled from _js/pages/be_comp_charts.js -->
        <!-- For more info and examples you can check out http://www.chartjs.org/docs/ -->
        <h2 class="content-heading">Graphs</h2>
        <div class="row">
            <div class="col-xl-6">
                <!-- Pie Chart -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Packet Count by Protocol</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="px-xl-7">
                            <!-- Pie Chart Container -->
                            <canvas id="donut_traffic"></canvas>
                        </div>
                    </div>
                </div>
                <!-- END Pie Chart -->
            </div>
            <div class="col-xl-6">
                <!-- Donut Chart -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Packet Count by TCP Flag</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="px-xl-7">
                            <!-- Donut Chart Container -->
                            <canvas id="donut_ip"></canvas>
                        </div>
                    </div>
                </div>
                <!-- END Donut Chart -->
            </div>
            <div class="col-xl-12">
                <!-- Bars Chart -->
                <div class="block block-rounded">
                      <div class="block-header block-header-default">
                          <h3 class="block-title">Packet Count by Time (10 min interval)</h3>
                      </div>
                      <div class="block-content block-content-full text-center">
                          <div class="py-1">
                              <!-- Bars Chart Container -->
                              <canvas id="barchart"></canvas>
                          </div>
                      </div>
                </div>
                <!-- END Bars Chart -->
            </div>
            <div class="col-xl-12">
                <!-- Bubble Chart -->
                <div class="block block-rounded">
                      <div class="block-header block-header-default">
                          <h3 class="block-title">Port communication visualization <small>(SOURCE PORT -> DESTINATION PORT)</small></h3>
                      </div>
                      <div class="block-content block-content-full text-center">
                          <div class="py-1">
                              <!-- Bars Chart Container -->
                              <div id="heatmap" style="width: 100%; height:400px;"></div>
                          </div>
                      </div>
                </div>
                <!-- END Bubble Chart -->
            </div>
        </div>
        <!-- END Chart.js Charts -->

        <h2 class="content-heading">PCAP File</h2>

        <!-- Dynamic Table Simple -->
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Network Packets <small>Full list of packets captured</small></h3>
            </div>
            <div class="block-content block-content-full">
                <!-- DataTables init on table by adding .js-dataTable-simple class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
                <table class="table table-bordered table-striped table-vcenter js-dataTable-simple">
                  <thead>
                    <tr>
                      <th class="text-center">Timestamp</th>
                      <th>Name</th>
                      <th class="d-none d-sm-table-cell" style="width: 30%;">IP address</th>
                      <th class="d-none d-sm-table-cell" style="width: 15%;">Access</th>
                      <th style="width: 15%;">Compromised</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center fs-sm">1</td>
                      <td class="fw-semibold fs-sm">Danielle Jones</td>
                      <td class="d-none d-sm-table-cell fs-sm">
                        client1<span class="text-muted">@example.com</span>
                      </td>
                      <td class="d-none d-sm-table-cell">
                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-info-light text-info">Business</span>
                      </td>
                      <td>
                        <span class="text-muted fs-sm">7 days ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center fs-sm">2</td>
                      <td class="fw-semibold fs-sm">Henry Harrison</td>
                      <td class="d-none d-sm-table-cell fs-sm">
                        client2<span class="text-muted">@example.com</span>
                      </td>
                      <td class="d-none d-sm-table-cell">
                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">Disabled</span>
                      </td>
                      <td>
                        <span class="text-muted fs-sm">7 days ago</span>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <!-- END Dynamic Table Simple -->

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock content %}

{% block additional_js %}
    <script>
        var donut2_data = JSON.parse('{{ ip | tojson | safe}}');
        var bubblechart_data = JSON.parse('{{ port_count | safe }}');
    </script>
    <!-- Page JS Plugins -->
    <script src="{{ url_for('static', filename='js/plugins/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/buttons.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/echarts.js') }}"></script>

    <!-- Page JS Code -->
    <script src="{{ url_for('static', filename='js/be_tables_datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/donut1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/donut2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/bubblechart.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>

{% endblock additional_js %}
