{% extends "base.html" %}

{% block title %}Upload File{% endblock title %}

{% block additional_css %}
<!-- Stylesheets -->
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
{% endblock additional_css %}

<!--main content start-->
{% block content %}

{% block header %}
{% endblock header %}

<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
                <div class="flex-grow-1">
                    <h1 class="h3 fw-bold mb-2">Upload</h1>
                    <h2 class="fs-base lh-base fw-medium text-muted mb-0">Upload data for analysis (CSV only)</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Normal -->
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Upload file</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="col-lg-12 space-y-2">
                    <div class="row">
                        <!-- Dropdown to choose data source-->
                        <div class="col-12">
                            <div class="dropdown col">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle col-12" id="dropdown-default-outline-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Data source
                                </button>
                                <div class="dropdown-menu fs-sm col-12" aria-labelledby="dropdown-default-outline-secondary">
                                    <a class="dropdown-item" href="javascript:void(0)">PCAP</a>
                                    <a class="dropdown-item" href="javascript:void(0)">SSH Log (AUTH.LOG)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!--END Dropdown -->
                    </div>
                    <!-- Dropzone (functionality is auto initialized by the plugin itself in js/plugins/dropzone/dropzone.min.js) -->
                    <!-- For more info and examples you can check out http://www.dropzonejs.com/#usage -->
                    <div class="mb-4 pb-2"></div>
                    <div class="row mb-4">
                        <div class="col-lg-12 col-xl-12">
                            <!-- DropzoneJS Container -->
                            <form class="dropzone" action="be_forms_plugins.html"></form>
                        </div>
                    </div>
                    <!-- END Dropzone -->
                    <div class="mb-2 text-center">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-fw fa-upload me-1"></i> Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END Main Container -->
{% endblock content %}

{% block additional_js %}
    <!-- Page JS Plugins -->
    <script src="{{ url_for('static', filename='js/plugins/dropzone.min.js') }}"></script>
{% endblock additional_js %}
